<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gauntletLock_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-25}</string>
			<key>spriteSize</key>
			<string>{76,90}</string>
			<key>spriteSourceSize</key>
			<string>{82,140}</string>
			<key>textureRect</key>
			<string>{{1962,1},{76,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_bonus_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{237,248}</string>
			<key>spriteSourceSize</key>
			<string>{237,250}</string>
			<key>textureRect</key>
			<string>{{1346,1536},{237,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_chaos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{236,240}</string>
			<key>spriteSourceSize</key>
			<string>{236,244}</string>
			<key>textureRect</key>
			<string>{{1025,1789},{236,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_crystal_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{237,232}</string>
			<key>spriteSourceSize</key>
			<string>{237,244}</string>
			<key>textureRect</key>
			<string>{{1557,1774},{237,232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_death_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,23}</string>
			<key>spriteSize</key>
			<string>{236,274}</string>
			<key>spriteSourceSize</key>
			<string>{236,320}</string>
			<key>textureRect</key>
			<string>{{792,1469},{236,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_demon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{235,250}</string>
			<key>spriteSourceSize</key>
			<string>{235,258}</string>
			<key>textureRect</key>
			<string>{{1067,1553},{235,250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_doom_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{235,266}</string>
			<key>spriteSourceSize</key>
			<string>{235,282}</string>
			<key>textureRect</key>
			<string>{{1,1716},{235,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_fire_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{238,242}</string>
			<key>spriteSourceSize</key>
			<string>{238,242}</string>
			<key>textureRect</key>
			<string>{{1318,1774},{238,242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ice_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{238,226}</string>
			<key>spriteSourceSize</key>
			<string>{238,226}</string>
			<key>textureRect</key>
			<string>{{1595,1541},{238,226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_lava_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{239,264}</string>
			<key>spriteSourceSize</key>
			<string>{239,266}</string>
			<key>textureRect</key>
			<string>{{258,1684},{239,264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_magic_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{237,252}</string>
			<key>spriteSourceSize</key>
			<string>{237,256}</string>
			<key>textureRect</key>
			<string>{{1603,1303},{237,252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_monster_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{237,258}</string>
			<key>spriteSourceSize</key>
			<string>{237,264}</string>
			<key>textureRect</key>
			<string>{{1623,1065},{237,258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ncs01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,33}</string>
			<key>spriteSize</key>
			<string>{258,292}</string>
			<key>spriteSourceSize</key>
			<string>{260,358}</string>
			<key>textureRect</key>
			<string>{{1207,258},{258,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ncs02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,33}</string>
			<key>spriteSize</key>
			<string>{258,292}</string>
			<key>spriteSourceSize</key>
			<string>{260,358}</string>
			<key>textureRect</key>
			<string>{{1500,268},{258,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,266}</string>
			<key>spriteSourceSize</key>
			<string>{266,266}</string>
			<key>textureRect</key>
			<string>{{276,903},{266,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,14}</string>
			<key>spriteSize</key>
			<string>{256,288}</string>
			<key>spriteSourceSize</key>
			<string>{256,316}</string>
			<key>textureRect</key>
			<string>{{1444,527},{256,288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{256,262}</string>
			<key>spriteSourceSize</key>
			<string>{256,276}</string>
			<key>textureRect</key>
			<string>{{258,1427},{256,262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,24}</string>
			<key>spriteSize</key>
			<string>{256,274}</string>
			<key>spriteSourceSize</key>
			<string>{256,322}</string>
			<key>textureRect</key>
			<string>{{822,961},{256,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,272}</string>
			<key>spriteSourceSize</key>
			<string>{250,272}</string>
			<key>textureRect</key>
			<string>{{816,1218},{250,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new06_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-11}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{270,278}</string>
			<key>textureRect</key>
			<string>{{1089,1296},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new07_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,50}</string>
			<key>spriteSize</key>
			<string>{256,364}</string>
			<key>spriteSourceSize</key>
			<string>{274,464}</string>
			<key>textureRect</key>
			<string>{{1254,1},{256,364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new08_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{256,272}</string>
			<key>spriteSourceSize</key>
			<string>{256,276}</string>
			<key>textureRect</key>
			<string>{{543,1158},{256,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new09_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{256,276}</string>
			<key>spriteSourceSize</key>
			<string>{256,284}</string>
			<key>textureRect</key>
			<string>{{1,913},{256,276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new10_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{256,292}</string>
			<key>spriteSourceSize</key>
			<string>{256,306}</string>
			<key>textureRect</key>
			<string>{{296,389},{256,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new11_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16}</string>
			<key>spriteSize</key>
			<string>{256,292}</string>
			<key>spriteSourceSize</key>
			<string>{256,324}</string>
			<key>textureRect</key>
			<string>{{589,389},{256,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new12_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{256,268}</string>
			<key>spriteSourceSize</key>
			<string>{256,276}</string>
			<key>textureRect</key>
			<string>{{258,1170},{256,268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new13_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16}</string>
			<key>spriteSize</key>
			<string>{256,258}</string>
			<key>spriteSourceSize</key>
			<string>{256,290}</string>
			<key>textureRect</key>
			<string>{{1,1457},{256,258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new14_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,278}</string>
			<key>spriteSourceSize</key>
			<string>{256,278}</string>
			<key>textureRect</key>
			<string>{{1691,808},{256,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new15_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{256,282}</string>
			<key>spriteSourceSize</key>
			<string>{256,290}</string>
			<key>textureRect</key>
			<string>{{846,704},{256,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new16_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,34}</string>
			<key>spriteSize</key>
			<string>{256,294}</string>
			<key>spriteSourceSize</key>
			<string>{256,362}</string>
			<key>textureRect</key>
			<string>{{1,389},{256,294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new17_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,40}</string>
			<key>spriteSize</key>
			<string>{256,304}</string>
			<key>spriteSourceSize</key>
			<string>{256,384}</string>
			<key>textureRect</key>
			<string>{{950,132},{256,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new18_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,266}</string>
			<key>spriteSourceSize</key>
			<string>{256,266}</string>
			<key>textureRect</key>
			<string>{{1,1190},{256,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new19_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{256,284}</string>
			<key>spriteSourceSize</key>
			<string>{256,308}</string>
			<key>textureRect</key>
			<string>{{276,646},{256,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new20_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,12}</string>
			<key>spriteSize</key>
			<string>{256,314}</string>
			<key>spriteSourceSize</key>
			<string>{256,338}</string>
			<key>textureRect</key>
			<string>{{322,132},{256,314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new21_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,44}</string>
			<key>spriteSize</key>
			<string>{256,312}</string>
			<key>spriteSourceSize</key>
			<string>{256,400}</string>
			<key>textureRect</key>
			<string>{{637,132},{256,312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new22_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,21}</string>
			<key>spriteSize</key>
			<string>{256,266}</string>
			<key>spriteSourceSize</key>
			<string>{256,308}</string>
			<key>textureRect</key>
			<string>{{1097,1039},{256,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new23_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,47}</string>
			<key>spriteSize</key>
			<string>{256,320}</string>
			<key>spriteSourceSize</key>
			<string>{256,414}</string>
			<key>textureRect</key>
			<string>{{1,132},{256,320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new24_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,24}</string>
			<key>spriteSize</key>
			<string>{266,274}</string>
			<key>spriteSourceSize</key>
			<string>{276,322}</string>
			<key>textureRect</key>
			<string>{{1,646},{266,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new25_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,28}</string>
			<key>spriteSize</key>
			<string>{256,280}</string>
			<key>spriteSourceSize</key>
			<string>{256,336}</string>
			<key>textureRect</key>
			<string>{{1129,782},{256,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new26_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,19}</string>
			<key>spriteSize</key>
			<string>{256,264}</string>
			<key>spriteSourceSize</key>
			<string>{256,302}</string>
			<key>textureRect</key>
			<string>{{527,1415},{256,264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new27_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,28}</string>
			<key>spriteSize</key>
			<string>{256,280}</string>
			<key>spriteSourceSize</key>
			<string>{256,336}</string>
			<key>textureRect</key>
			<string>{{1410,784},{256,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new28_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,58}</string>
			<key>spriteSize</key>
			<string>{266,342}</string>
			<key>spriteSourceSize</key>
			<string>{276,458}</string>
			<key>textureRect</key>
			<string>{{1619,1},{266,342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new29_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,13}</string>
			<key>spriteSize</key>
			<string>{256,252}</string>
			<key>spriteSourceSize</key>
			<string>{256,278}</string>
			<key>textureRect</key>
			<string>{{521,1672},{256,252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new30_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16}</string>
			<key>spriteSize</key>
			<string>{256,258}</string>
			<key>spriteSourceSize</key>
			<string>{256,290}</string>
			<key>textureRect</key>
			<string>{{1364,1041},{256,258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new31_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{264,280}</string>
			<key>spriteSourceSize</key>
			<string>{264,334}</string>
			<key>textureRect</key>
			<string>{{1163,517},{264,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new32_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{264,278}</string>
			<key>spriteSourceSize</key>
			<string>{264,332}</string>
			<key>textureRect</key>
			<string>{{1733,543},{264,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new33_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{266,280}</string>
			<key>spriteSourceSize</key>
			<string>{266,334}</string>
			<key>textureRect</key>
			<string>{{882,437},{266,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new34_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,30}</string>
			<key>spriteSize</key>
			<string>{256,284}</string>
			<key>spriteSourceSize</key>
			<string>{256,344}</string>
			<key>textureRect</key>
			<string>{{561,646},{256,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new35_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{254,278}</string>
			<key>spriteSourceSize</key>
			<string>{254,332}</string>
			<key>textureRect</key>
			<string>{{543,903},{254,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_poison_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{236,246}</string>
			<key>spriteSourceSize</key>
			<string>{236,262}</string>
			<key>textureRect</key>
			<string>{{778,1706},{236,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{236,216}</string>
			<key>spriteSourceSize</key>
			<string>{236,234}</string>
			<key>textureRect</key>
			<string>{{1790,1768},{236,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_spike_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{237,274}</string>
			<key>spriteSourceSize</key>
			<string>{237,286}</string>
			<key>textureRect</key>
			<string>{{1793,268},{237,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_time_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{237,256}</string>
			<key>spriteSourceSize</key>
			<string>{237,274}</string>
			<key>textureRect</key>
			<string>{{1346,1298},{237,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theLostGauntletsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-5}</string>
			<key>spriteSize</key>
			<string>{1252,130}</string>
			<key>spriteSourceSize</key>
			<string>{1262,140}</string>
			<key>textureRect</key>
			<string>{{1,1},{1252,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GauntletSheet-uhd.png</string>
		<key>size</key>
		<string>{2039,2039}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fd65a9b78532349192cf677b36d8154a:c17dc4cc66d2a96c7dd01f054367bf87:e43528e55c10f2683a103180db48aec4$</string>
		<key>textureFileName</key>
		<string>GauntletSheet-uhd.png</string>
	</dict>
</dict>
</plist>
