<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{356,118}</string>
			<key>spriteSourceSize</key>
			<string>{360,124}</string>
			<key>textureRect</key>
			<string>{{1,363},{356,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{1702,194}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{196,1},{1702,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-7}</string>
			<key>spriteSize</key>
			<string>{736,140}</string>
			<key>spriteSourceSize</key>
			<string>{748,154}</string>
			<key>textureRect</key>
			<string>{{359,355},{736,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{582,204}</string>
			<key>spriteSourceSize</key>
			<string>{592,222}</string>
			<key>textureRect</key>
			<string>{{1381,197},{582,204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{360,96}</string>
			<key>spriteSourceSize</key>
			<string>{360,96}</string>
			<key>textureRect</key>
			<string>{{1,1},{360,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{360,95}</string>
			<key>spriteSourceSize</key>
			<string>{360,95}</string>
			<key>textureRect</key>
			<string>{{99,1},{360,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{648,156}</string>
			<key>spriteSourceSize</key>
			<string>{662,170}</string>
			<key>textureRect</key>
			<string>{{196,197},{648,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{533,156}</string>
			<key>spriteSourceSize</key>
			<string>{547,168}</string>
			<key>textureRect</key>
			<string>{{846,197},{533,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-uhd.png</string>
		<key>size</key>
		<string>{1964,496}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71d38a9ac19456aaef500614835d0efc:a121b0f209e6a62e181364263d8fb6e9:7d5c3afd3b92bdb6b931d2f277b34c00$</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-uhd.png</string>
	</dict>
</dict>
</plist>
