<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chest03_small_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{122,102}</string>
			<key>spriteSourceSize</key>
			<string>{122,104}</string>
			<key>textureRect</key>
			<string>{{1471,401},{122,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{397,321}</string>
			<key>spriteSourceSize</key>
			<string>{397,321}</string>
			<key>textureRect</key>
			<string>{{2350,557},{397,321}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{385,309}</string>
			<key>spriteSourceSize</key>
			<string>{385,309}</string>
			<key>textureRect</key>
			<string>{{917,1434},{385,309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{385,316}</string>
			<key>spriteSourceSize</key>
			<string>{385,322}</string>
			<key>textureRect</key>
			<string>{{1285,1761},{385,316}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,14}</string>
			<key>spriteSize</key>
			<string>{303,28}</string>
			<key>spriteSourceSize</key>
			<string>{303,56}</string>
			<key>textureRect</key>
			<string>{{2714,170},{303,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,58}</string>
			<key>spriteSize</key>
			<string>{652,134}</string>
			<key>spriteSourceSize</key>
			<string>{654,250}</string>
			<key>textureRect</key>
			<string>{{818,401},{652,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-71}</string>
			<key>spriteSize</key>
			<string>{385,164}</string>
			<key>spriteSourceSize</key>
			<string>{385,306}</string>
			<key>textureRect</key>
			<string>{{1671,1761},{385,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,66}</string>
			<key>spriteSize</key>
			<string>{324,196}</string>
			<key>spriteSourceSize</key>
			<string>{324,328}</string>
			<key>textureRect</key>
			<string>{{1361,2457},{324,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,66}</string>
			<key>spriteSize</key>
			<string>{295,150}</string>
			<key>spriteSourceSize</key>
			<string>{295,282}</string>
			<key>textureRect</key>
			<string>{{1652,2147},{295,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{498,402}</string>
			<key>spriteSourceSize</key>
			<string>{498,402}</string>
			<key>textureRect</key>
			<string>{{490,632},{498,402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{482,386}</string>
			<key>spriteSourceSize</key>
			<string>{482,388}</string>
			<key>textureRect</key>
			<string>{{2124,170},{482,386}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{482,394}</string>
			<key>spriteSourceSize</key>
			<string>{482,402}</string>
			<key>textureRect</key>
			<string>{{917,951},{482,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,18}</string>
			<key>spriteSize</key>
			<string>{378,62}</string>
			<key>spriteSourceSize</key>
			<string>{378,98}</string>
			<key>textureRect</key>
			<string>{{2683,1434},{378,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,73}</string>
			<key>spriteSize</key>
			<string>{816,168}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{1,463},{816,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{1795,1339},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,83}</string>
			<key>spriteSize</key>
			<string>{404,244}</string>
			<key>spriteSourceSize</key>
			<string>{404,410}</string>
			<key>textureRect</key>
			<string>{{2278,1438},{404,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,82}</string>
			<key>spriteSize</key>
			<string>{368,188}</string>
			<key>spriteSourceSize</key>
			<string>{368,352}</string>
			<key>textureRect</key>
			<string>{{1836,1984},{368,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{482,386}</string>
			<key>spriteSourceSize</key>
			<string>{482,388}</string>
			<key>textureRect</key>
			<string>{{1795,952},{482,386}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{482,394}</string>
			<key>spriteSourceSize</key>
			<string>{482,402}</string>
			<key>textureRect</key>
			<string>{{1384,557},{482,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,18}</string>
			<key>spriteSize</key>
			<string>{378,62}</string>
			<key>spriteSourceSize</key>
			<string>{378,98}</string>
			<key>textureRect</key>
			<string>{{2672,549},{378,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,73}</string>
			<key>spriteSize</key>
			<string>{816,168}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{1,463},{816,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{1312,1347},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,83}</string>
			<key>spriteSize</key>
			<string>{404,244}</string>
			<key>spriteSourceSize</key>
			<string>{404,410}</string>
			<key>textureRect</key>
			<string>{{871,2236},{404,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,82}</string>
			<key>spriteSize</key>
			<string>{368,188}</string>
			<key>spriteSourceSize</key>
			<string>{368,352}</string>
			<key>textureRect</key>
			<string>{{1836,1984},{368,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{482,386}</string>
			<key>spriteSourceSize</key>
			<string>{482,388}</string>
			<key>textureRect</key>
			<string>{{2278,955},{482,386}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{482,394}</string>
			<key>spriteSourceSize</key>
			<string>{482,402}</string>
			<key>textureRect</key>
			<string>{{1867,557},{482,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,18}</string>
			<key>spriteSize</key>
			<string>{378,62}</string>
			<key>spriteSourceSize</key>
			<string>{378,98}</string>
			<key>textureRect</key>
			<string>{{2205,2155},{378,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,73}</string>
			<key>spriteSize</key>
			<string>{816,168}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{818,232},{816,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{1303,1554},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,83}</string>
			<key>spriteSize</key>
			<string>{404,244}</string>
			<key>spriteSourceSize</key>
			<string>{404,410}</string>
			<key>textureRect</key>
			<string>{{1116,2227},{404,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,82}</string>
			<key>spriteSize</key>
			<string>{368,188}</string>
			<key>spriteSourceSize</key>
			<string>{368,352}</string>
			<key>textureRect</key>
			<string>{{1803,2382},{368,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{488,386}</string>
			<key>spriteSourceSize</key>
			<string>{488,388}</string>
			<key>textureRect</key>
			<string>{{1635,170},{488,386}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{482,394}</string>
			<key>spriteSourceSize</key>
			<string>{482,402}</string>
			<key>textureRect</key>
			<string>{{1312,952},{482,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,18}</string>
			<key>spriteSize</key>
			<string>{378,62}</string>
			<key>spriteSourceSize</key>
			<string>{378,98}</string>
			<key>textureRect</key>
			<string>{{2176,2218},{378,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,73}</string>
			<key>spriteSize</key>
			<string>{816,168}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{1635,1},{816,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{1795,1546},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,83}</string>
			<key>spriteSize</key>
			<string>{404,244}</string>
			<key>spriteSourceSize</key>
			<string>{404,410}</string>
			<key>textureRect</key>
			<string>{{2278,1683},{404,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,82}</string>
			<key>spriteSize</key>
			<string>{368,188}</string>
			<key>spriteSourceSize</key>
			<string>{368,352}</string>
			<key>textureRect</key>
			<string>{{1992,2382},{368,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{488,420}</string>
			<key>spriteSourceSize</key>
			<string>{488,454}</string>
			<key>textureRect</key>
			<string>{{1,1552},{488,420}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,14}</string>
			<key>spriteSize</key>
			<string>{490,414}</string>
			<key>spriteSourceSize</key>
			<string>{494,442}</string>
			<key>textureRect</key>
			<string>{{426,1131},{490,414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{378,106}</string>
			<key>spriteSourceSize</key>
			<string>{378,110}</string>
			<key>textureRect</key>
			<string>{{370,2644},{378,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,42}</string>
			<key>spriteSize</key>
			<string>{816,230}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{1,1},{816,230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{426,1546},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,77}</string>
			<key>spriteSize</key>
			<string>{448,292}</string>
			<key>spriteSourceSize</key>
			<string>{448,446}</string>
			<key>textureRect</key>
			<string>{{422,2351},{448,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,54}</string>
			<key>spriteSize</key>
			<string>{368,230}</string>
			<key>spriteSourceSize</key>
			<string>{368,338}</string>
			<key>textureRect</key>
			<string>{{1836,1753},{368,230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{488,420}</string>
			<key>spriteSourceSize</key>
			<string>{488,454}</string>
			<key>textureRect</key>
			<string>{{1,2041},{488,420}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,14}</string>
			<key>spriteSize</key>
			<string>{490,414}</string>
			<key>spriteSourceSize</key>
			<string>{494,442}</string>
			<key>textureRect</key>
			<string>{{893,536},{490,414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{378,106}</string>
			<key>spriteSourceSize</key>
			<string>{378,110}</string>
			<key>textureRect</key>
			<string>{{749,2644},{378,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,42}</string>
			<key>spriteSize</key>
			<string>{816,230}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{1,232},{816,230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{871,1753},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,76}</string>
			<key>spriteSize</key>
			<string>{448,294}</string>
			<key>spriteSourceSize</key>
			<string>{448,446}</string>
			<key>textureRect</key>
			<string>{{422,2056},{448,294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,49}</string>
			<key>spriteSize</key>
			<string>{368,220}</string>
			<key>spriteSourceSize</key>
			<string>{368,318}</string>
			<key>textureRect</key>
			<string>{{1,2530},{368,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,22}</string>
			<key>spriteSize</key>
			<string>{488,428}</string>
			<key>spriteSourceSize</key>
			<string>{488,472}</string>
			<key>textureRect</key>
			<string>{{1,632},{488,428}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,19}</string>
			<key>spriteSize</key>
			<string>{490,424}</string>
			<key>spriteSourceSize</key>
			<string>{494,462}</string>
			<key>textureRect</key>
			<string>{{1,1061},{490,424}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{378,106}</string>
			<key>spriteSourceSize</key>
			<string>{378,110}</string>
			<key>textureRect</key>
			<string>{{2607,170},{378,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,42}</string>
			<key>spriteSize</key>
			<string>{816,230}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{818,1},{816,230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{1078,1744},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,72}</string>
			<key>spriteSize</key>
			<string>{448,302}</string>
			<key>spriteSourceSize</key>
			<string>{448,446}</string>
			<key>textureRect</key>
			<string>{{422,1753},{448,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,52}</string>
			<key>spriteSize</key>
			<string>{368,226}</string>
			<key>spriteSourceSize</key>
			<string>{368,330}</string>
			<key>textureRect</key>
			<string>{{2205,1928},{368,226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_glow_bg_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-265,-35}</string>
			<key>spriteSize</key>
			<string>{204,94}</string>
			<key>spriteSourceSize</key>
			<string>{734,164}</string>
			<key>textureRect</key>
			<string>{{1128,2632},{204,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{478,72}</string>
			<key>spriteSourceSize</key>
			<string>{478,72}</string>
			<key>textureRect</key>
			<string>{{2665,955},{478,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>getOrbsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{222,150}</string>
			<key>spriteSourceSize</key>
			<string>{222,164}</string>
			<key>textureRect</key>
			<string>{{2574,1928},{222,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_videoRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{378,290}</string>
			<key>spriteSourceSize</key>
			<string>{380,290}</string>
			<key>textureRect</key>
			<string>{{1361,2078},{378,290}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plushies_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,3}</string>
			<key>spriteSize</key>
			<string>{372,208}</string>
			<key>spriteSourceSize</key>
			<string>{392,218}</string>
			<key>textureRect</key>
			<string>{{1803,2173},{372,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-99}</string>
			<key>spriteSize</key>
			<string>{188,266}</string>
			<key>spriteSourceSize</key>
			<string>{196,464}</string>
			<key>textureRect</key>
			<string>{{2181,2281},{188,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{54,84}</string>
			<key>spriteSourceSize</key>
			<string>{64,84}</string>
			<key>textureRect</key>
			<string>{{818,536},{54,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-99}</string>
			<key>spriteSize</key>
			<string>{170,266}</string>
			<key>spriteSourceSize</key>
			<string>{180,464}</string>
			<key>textureRect</key>
			<string>{{2181,2548},{170,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope3_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{54,84}</string>
			<key>spriteSourceSize</key>
			<string>{64,84}</string>
			<key>textureRect</key>
			<string>{{1285,2078},{54,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope4_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-99}</string>
			<key>spriteSize</key>
			<string>{168,266}</string>
			<key>spriteSourceSize</key>
			<string>{176,464}</string>
			<key>textureRect</key>
			<string>{{2452,1},{168,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope4_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{54,84}</string>
			<key>spriteSourceSize</key>
			<string>{64,84}</string>
			<key>textureRect</key>
			<string>{{2205,1753},{54,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope5_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,-99}</string>
			<key>spriteSize</key>
			<string>{186,266}</string>
			<key>spriteSourceSize</key>
			<string>{204,464}</string>
			<key>textureRect</key>
			<string>{{2370,2281},{186,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope5_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{54,84}</string>
			<key>spriteSourceSize</key>
			<string>{64,84}</string>
			<key>textureRect</key>
			<string>{{2448,2548},{54,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_ShopSheet-uhd.png</string>
		<key>size</key>
		<string>{2751,2751}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b1533916f3a9feaa81d42e08a47f3d09:075c08893191acfcd55a23a874e40e47:6b4b2686c87e2a64c351d919627ac8a1$</string>
		<key>textureFileName</key>
		<string>GJ_ShopSheet-uhd.png</string>
	</dict>
</dict>
</plist>
